* {
  margin: 0px;
  padding: 0px;
  font-family: Manrope, sans-serif;
  scroll-behavior: smooth;
}
/* div,
  section {
    border: 1px solid black;
  } */
#preloader {
  z-index: 99999999999999999999;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#AdminRedirect {
  display: none;
  padding: 5px !important;
  width: 98%;
}
ul,
li {
  list-style: none;
}
::-webkit-scrollbar {
  background-color: rgb(241, 229, 229);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(250, 73, 73);
}
img {
  cursor: pointer;
}
input {
  padding-left: 15px !important;
}
.flex {
  display: flex;
  align-items: center;
}

a {
  text-decoration: none !important;
}
#bread {
  padding: 12px 50px !important;
  margin: 0px !important;
  position: static !important;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
#LoginForm {
  display: none;
}
#UserPresent {
  display: none;
}

.accordion-button:not(.collapsed) {
  background-color: #fafafa !important;
  color: rgb(255, 0, 0) !important;
  border: 1px solid grey;
  box-shadow: none !important;
}
.accordion-button {
  border: 1px solid rgb(214, 211, 211) !important;
}
#LoginForm .bg-body-tertiary {
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px !important;

  justify-content: space-evenly !important;
}
html,
body {
  position: relative !important;
}
nav {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.iconsbar {
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconsbar > div {
  margin: 7px;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-evenly !important;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar > .container-fluid {
  display: flex;
  justify-content: space-around !important;
  margin-right: 60px !important;
  padding: 0px !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 40px;
  color: rgb(0, 0, 0);
  font-size: 20px;
  transition: all 250ms ease;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: rgb(230, 57, 57);
}

.navbar-brand {
  color: rgb(0, 0, 0);
  font-size: 40px;
  padding-left: 25px;
  margin: 0px !important;
}
#navlogo {
  width: 240px;
}
.megasearch {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ede9e9;
  width: 80%;
  margin: 0px 40px;
}
#megasearch {
  outline: none;
  background-color: #ede9e9;
  box-shadow: none;
  padding: 10px;
  border: none;
}
#megasearch:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
.nav-link {
  color: rgb(40, 39, 39) !important;
  font-weight: 500 !important;
  margin: auto 10px !important;
}
.nav-link:hover {
  color: rgb(255, 0, 0) !important;
  background-color: #fcfafa;
}
.topsec {
  background-color: #f5f5f5;
}
.topfirst {
  background-color: #fcfafa;
  display: flex;
  justify-content: space-between;
  filter: invert();
  transition: all 300ms ease;
}
.pincode {
  font-weight: 300 !important;
}
.navbar,
nav {
  z-index: 2;
  padding: 0px;
  position: sticky !important;
  z-index: 88;
  top: 0px;
}
#megalistheads {
  background-color: rgba(249, 249, 249, 0.658);
}
.sticky {
  position: fixed !important;
  top: 0;
  width: 100%;
}
#spinner {
  position: fixed;
  display: none;
  top: 42px;
  left: 20px;
  z-index: 100;
}
#signCanvasDiv {
  padding: 10px;
}
#signCanvasDiv label {
  font-size: 14px;
  margin: 0px !important;
}
.ORhr {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}
#OR {
  margin: 0px !important;
}
