input {
  padding-left: 12px !important;
}
#spinner {
  display: none;
  position: fixed;
  top: 00px;
  left: 70px;
  z-index: 999999;
}
#event_nav {
  padding: 2rem 0;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
}

#event_nav > div {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#event_nav > div > div:nth-child(3) {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#event_nav > div > div:nth-child(1) > p {
  padding: 0.8rem 1.3rem;
  border-radius: 50px;
  border: 1px solid #006bff;
  cursor: pointer;
  color: #006bff;
}

#event_nav > div > div:nth-child(3) > p:nth-child(2) {
  background-color: #cccccc9d;
  padding: 0.8rem 1.3rem;
  border-radius: 50px;
}

/* ---------------------body-------- */
#eventformtop {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding: 1rem;
  align-items: center;
}

#eventformtop > div:nth-child(1),
.next_cancel {
  display: flex;
  align-items: center;
}
#eventformtop > div:nth-child(2) {
  width: 20%;
  justify-content: space-evenly;
}
#color {
  background-color: #8247f5;
  padding: 15px 15px;
  margin: 14px 5px;
  border-radius: 50%;
  margin-right: 10px;
}
.nextbutton {
  background-color: #006bff;
  padding: 0.8rem 1.3rem;
  border-radius: 50px;
  color: white;
  cursor: pointer;
}
.bot {
  justify-content: right;
  column-gap: 3%;
  margin: 1rem 3rem;
}

/* --------------------------------------- */
#event_nav + div {
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  margin-top: 6%;
}
#event_form {
  padding: 1.5rem 3rem;
  box-sizing: border-box;
}
label {
  font-weight: 600;
}
#event_form > div {
  margin-bottom: 1%;
}
#event_form input,
select {
  width: 45%;
  padding: 1% 0;
  border-radius: 10px;
  margin-top: 0.2rem;
  border: 1px solid #cccccc9d;
}
#event_form input::placeholder,
#event_form select::placeholder {
  padding: 0 2%;
}
#event_form #event_description {
  padding-bottom: 10%;
}
#event_form #inputtime,
#event_form #inputdate {
  width: 47%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
#event_form #inputdate > div,
#event_form #inputtime > div {
  width: 100%;
}
#event_form #inputdate > div input,
#event_form #inputtime > div input {
  width: 90%;
  border-radius: 5px;
  padding: 4% 0;
}
.cancelbutton {
  cursor: pointer;
}

@media screen and (min-width: 1085px) and (max-width: 1200px) {
}

@media screen and (min-width: 843px) and (max-width: 1085px) {
  #event_nav h1 {
    font-size: 2rem;
  }
  #event_nav > div {
    width: 90%;
  }

  #event_nav > div > div:nth-child(3) {
    width: 25%;
  }
}

@media screen and (min-width: 646px) and (max-width: 843px) {
  #event_nav h1 {
    font-size: 1.4rem;
  }
  #event_nav > div {
    width: 90%;
  }

  #event_nav > div > div:nth-child(3) {
    width: 30%;
  }
  #event_nav > div > div:nth-child(1) > p {
    padding: 0.6rem 1.1rem;
  }
  #event_nav > div > div:nth-child(3) > p:nth-child(2) {
    padding: 0.6rem 1.1rem;
  }
  #event_nav > div > div:nth-child(3) > p:nth-child(1) {
    font-size: 14px;
  }
  #eventformtop > div:nth-child(2) {
    width: 30%;
    justify-content: space-evenly;
  }
}

@media screen and (min-width: 577px) and (max-width: 646px) {
  #event_nav h1 {
    font-size: 1.4rem;
    text-align: center;
  }
  #event_nav > div > div:nth-child(3),
  #event_nav > div > div:nth-child(1) {
    display: none;
  }
  #eventformtop > div:nth-child(2) {
    width: 30%;
    justify-content: space-between;
  }
  #event_form {
    padding: 2.5rem 1rem;
  }
  #event_form input,
  select {
    width: 60%;
    margin-bottom: 1rem;
    padding: 0.7rem;
  }
  #event_form #event_description {
    padding-bottom: 20%;
  }
}

@media screen and (min-width: 320px) and (max-width: 577px) {
  #event_nav h1 {
    font-size: 1.2rem;
    text-align: center;
  }
  #event_nav > div > div:nth-child(3),
  #event_nav > div > div:nth-child(1) {
    display: none;
  }
  #eventformtop {
    /* background-color: #006bff; */
    margin: auto;
    text-align: center;
    justify-content: center;
  }
  #color,
  #all {
    display: none;
  }
  #event_form {
    padding: 2.5rem 1rem;
  }
  #event_form input,
  select {
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.7rem;
  }
  #event_form #event_description {
    padding-bottom: 20%;
  }
  #event_form #inputtime,
  #event_form #inputdate {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
  }
}
