@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.flexx {
  display: flex;
  align-items: center;
}
body {
  margin-bottom: 100px;
}
img {
  cursor: pointer;
}
a {
  text-decoration: none !important;
}
.margins {
  width: 80%;
  height: auto;
  margin: auto;
}
#navbar {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar a {
  text-decoration: none;
  color: gray;
}
#navbar a:hover {
  text-decoration: none;
  color: #4e4e4e;
}
#navbar > div:nth-child(1) {
  width: 25%;
}
#navbar > div img {
  width: 50%;
}
#navbar > div:nth-child(2) {
  width: 40%;
}
#navbar > div:nth-child(2) > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  color: gray;
}
#navbar > div:nth-child(2) > ul > li:hover {
  cursor: pointer;
  color: black;
}
#navbar > div:nth-child(2) > ul > li:hover > .namecircle {
  cursor: pointer;
  border: 3px solid #4e4e4e;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
#profile {
  display: none;
}
/* ----------------top nav----------------- */

#topnav {
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
}
#topnav > p:nth-child(1) {
  font-size: 1.5rem;
}
#Create {
  background-color: #0069ff;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: 600;
  cursor: pointer;
}
#botnav {
  width: 80%;
  margin: auto;
}
#botnav > ul {
  display: flex;
}
#botnav > ul > li {
  list-style-type: none;
  padding-right: 3%;
}
#botnav > ul > li:hover {
  color: #006bff;
}

/* ------------------body--------------- */

#sticky {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 20px -20px;
  padding-bottom: 1.5rem;
  background-color: white;
}
#topBody {
  margin-top: 7%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  padding-bottom: 1%;
}
#topBody > div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#topBody > div:nth-child(1) > p {
  font-size: 1rem;
  background-color: #cccccc;
  padding: 12px 15px;
  border-radius: 50%;
  margin-right: 1rem;
}

.namecircle {
  font-size: 0px;
  padding: 10px !important;
  margin-right: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  text-align: start;
  background-color: #8d8d8d;
  border: 3px solid #8d8b8b;
  transition: all 200ms ease-in-out;
}
.namecircle:hover {
  background-color: #0069ff;
  border: 3px solid #0069ff;
}

#topBody > div:nth-child(1) > div > p {
  margin-bottom: 0.3rem;
}
#spinner {
  display: none;
  position: fixed;
  top: 00px;
  left: 70px;
  z-index: 999999;
}
/* -------------------------- */

#topBody > div:nth-child(2) > div > p {
  border: 1px solid #006bff;
  color: #006bff;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  margin-right: 1rem;
}
#topBody > div:nth-child(2) > div:nth-child(2) {
  width: 2%;
}
#topBody > div:nth-child(2) > div:nth-child(2) > img {
  width: 100%;
}
.swal-button {
  background-color: #0069ff;
}
.swal-button:hover {
  background-color: #0069ff;
}
.swal-icon {
  filter: saturate(5);
}
.Deleter {
  background-color: #0069ff;
  padding: 0.7rem 1rem;
  border-radius: 1.5rem;
  color: white;
  font-weight: 500;
  border: 0px;
  font-size: 16px;
  cursor: pointer;
}
.Deleter:hover {
  background-color: #0958c6;
}

/* ------------------------main-------------------- */

#content > h2 {
  padding: 1.5% 0;
  font-size: 1.2rem;
}
#content > div {
  display: flex;
  flex-wrap: wrap;
}
#event_card {
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
#event_card img {
  width: 11%;
}
#event_card > div:nth-child(1) > p {
  font-size: 1.5rem;
}
#event_card > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}
#event_card > div:nth-child(2) {
  margin: 1rem 0;
}
#link {
  margin: 1rem 0;
}

@media screen and (min-width: 1085px) and (max-width: 1200px) {
  .margins {
    width: 90%;
    margin: auto;
  }
}

@media screen and (min-width: 843px) and (max-width: 1085px) {
  .margins {
    width: 90%;
    margin: auto;
  }
  #navbar > div:nth-child(2) {
    width: 50%;
  }
  .namecircle {
    padding: 9px 11px;
  }
  #navbar > div img {
    width: 70%;
  }
  #topBody > div:nth-child(2) > div:nth-child(2) {
    width: 3%;
  }
}

@media screen and (min-width: 646px) and (max-width: 843px) {
  .margins {
    width: 90%;
    margin: auto;
  }
  #navbar > div:nth-child(2) {
    width: 60%;
  }
  .namecircle {
    padding: 7px 9px;
  }
  #navbar > div img {
    width: 80%;
  }
  #topBody > div:nth-child(2) > div:nth-child(2) {
    width: 5%;
  }
}

@media screen and (min-width: 577px) and (max-width: 646px) {
  #navbar > div img {
    width: 90%;
  }
  .margins {
    width: 90%;
    margin: auto;
  }
  #profile {
    display: block;
  }
  #linav {
    display: none;
  }
  .namecircle {
    border: 3px solid #4e4e4e;
  }
  #event_card {
    width: 40%;
  }
}

@media screen and (min-width: 320px) and (max-width: 577px) {
  #navbar > div img {
    width: 90%;
  }
  .margins {
    width: 90%;
    margin: auto;
  }
  #navbar > div img {
    width: 95%;
  }
  #profile {
    display: block;
  }
  #linav {
    display: none;
  }
  .namecircle {
    padding: 5px 7px;
    border: 3px solid #4e4e4e;
  }
  #topBody {
    flex-wrap: wrap;
  }
  #topBody > div:nth-child(2) > div {
    width: 100%;
    margin: 1.5rem 0;
  }
  #topBody > div:nth-child(2) > div:nth-child(2) {
    width: 7%;
  }
  #botnav {
    position: relative;
    overflow: hidden;
    width: 85%;
    margin: auto;
    padding: 5% 0;
  }
  #botnav > ul {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  #botnav > ul > ::-webkit-scrollbar {
    display: none;
  }
  #botnav > ul > li {
    flex: 0 0 auto;
    width: 40%;
    justify-content: space-between;
  }
  #event_card {
    width: 80%;
  }
}
