* {
  margin: 0;
  padding: 0;
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.sidemargin {
  width: 90%;
  margin: auto;
}
#language > div {
  text-align: right;
  display: flex;
  justify-content: end;
  justify-items: center;
  align-items: center;
  /* margin: auto; */
}
#spinner {
  display: none;
  position: fixed;
  top: 50px;
  left: 70px;
  z-index: 999999;
}
#language div img {
  width: 1.5%;
  padding: 1% 0;
  padding-right: 10px;
}
#language {
  background-color: #f7faff;
  display: flex;
  justify-content: end;
}

#navbar > div {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
}
#navbar > div a {
  color: black;
  text-decoration: none;
  font-weight: 600;
}
#navbar > div a:hover {
  color: #006bff;
}
#navbar div > div:nth-child(1) {
  width: 15%;
}
/* #dis{
    display: none;
} */
#resourcesMenu {
  /* width: 80%;
    position: absolute;
    z-index: 2;
    border: 1px solid black;
    margin: auto;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 3%; */
  display: none;
}
/* #resourcesMenu>div h3{
    font-size: 1.1rem;
    padding: 10px 0;
}
#resourcesMenu>div:nth-child(1) */
#navbar div > div:nth-child(3) {
  width: 20%;
  display: flex;
  justify-content: space-between;
}
#navbar div > div:nth-child(3) > a {
  padding: 5% 8%;
  border-radius: 5px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#navbar div > div:nth-child(3) > #getStart {
  color: white;
  padding: 5% 8%;
  background-color: #006bff;
}
#navbar div > div:nth-child(3) > #getStart:hover {
  color: white;
  background-color: #0253c5;
}
#content {
  display: 100%;
}
