@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif !important;
  scroll-behavior: smooth;
}
html,
body {
  position: relative !important;
}
img {
  cursor: pointer;
}
.flex {
  display: flex;
}
a {
  text-decoration: none !important;
}
p {
  margin: 0px !important;
}
/*todo <!----------------------------------------------- < Header Start > -----------------------------------------------> */

.sticky {
  position: fixed !important;
  top: 0;
  box-sizing: border-box;
  background-color: white;
  padding: 0px 140px !important;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
  width: 100%;
}
header {
  box-shadow: rgb(0 0 0 / 4%) 0px 4px 4px;
}
#NavBrand {
  filter: saturate(2) hue-rotate(20deg);
}
nav {
  position: sticky;
  top: 0px;
  padding: 5px 140px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#NavlinkParent {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#NavlinkParent > div {
  margin: 10px;
  padding: 5px;
}
#NavlinkParent > div > a {
  font-size: 1.2rem;
  color: black;
  font-weight: 600;
}
#Englishtopnav {
  padding: 6px 140px !important;
  font-size: 20px;
  font-weight: 600;
  background-color: rgb(247, 250, 255);
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: center;
}
#navclickbtn {
  display: none;
  color: white;
}

/*? <!----------------------------------------------- < Header End > -----------------------------------------------> */

/*todo <!----------------------------------------------- < Footer Start > -----------------------------------------------> */
.footereasy {
  font-size: 2.36875rem;
  line-height: 1.4;
  font-weight: 700;
  text-align: left;
  color: rgb(11, 53, 88);
  padding-bottom: 16px;
}
.footereasy + p {
  font-size: 1.125rem;
}
.footer_section {
  display: flex;
  justify-content: space-between;
}
.footersecond {
  display: flex;
  justify-content: space-between;
}
.footersecond > label,
.footerthird > label,
.footerthird > b {
  margin: 7px;
  color: rgb(71, 103, 136);
  font-size: 0.75rem;
  line-height: 1.5;
}
.footerthird {
  display: flex;
  justify-content: left;
}
#deliveryinp {
  padding: 10px 5px;
  border-radius: 5px;
  outline: none;
  border: 0.25px solid grey;
}

#deliveryinp + button {
  padding: 7px 10px !important;
  font-size: 15px;
  border-radius: 5px;
}
.footerLeft {
  width: 32%;
}
#spinner {
  display: none;
  position: fixed;
  top: 50px;
  left: 70px;
  z-index: 999999;
}
.footerRight {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.footerRight div {
  padding: 10px;
  color: rgb(11, 53, 88);
  font-size: 1rem;
}
.footerRight div:hover {
  color: rgb(0, 107, 255);
  cursor: pointer;
}
#footer {
  padding: 20px 100px !important;
}
/*? <!----------------------------------------------- < Footer End > -----------------------------------------------> */

/*! <!----------------------------------------------- < Media Queries > -----------------------------------------------> */

/*todo ----------------------------Medium Screen Sizes -------------------------------- */
@media all and (min-width: 810px) and (max-width: 1079px) {
  body {
    overflow-x: hidden;
  }
  section,
  #footer {
    margin: 10px !important;
    padding: 10px !important;
  }
  nav {
    padding: 10px 20px !important;
  }
  #NavlinkParent > div > a {
    font-size: 14px;
  }
  #MyAccBtn > button.BlueWhiteBtn {
    padding: 5px 10px;
    font-size: 1rem;
  }
}

@media all and (min-width: 320px) and (max-width: 809px) {
  body {
    overflow-x: hidden;
  }
  section {
    padding: 10px !important;
  }
  #navclickbtn {
    display: block;
    z-index: 10000;
  }
  nav {
    padding: 0px !important;
    z-index: 1000;
  }
  #Englishtopnav {
    padding: 5px !important;
  }
  .LandingParent {
    flex-direction: column;
  }
  #NavlinkParent {
    position: fixed;
    background: white;
    top: 0;
    left: 100%;
    width: 100% !important;
    transition: all 300ms ease;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
  #NavlinkParent > div {
    width: 100%;
    text-align: center;
  }
  #NavlinkParent > div:hover {
    color: rgb(27, 104, 238);
  }
  .navtranslate {
    z-index: 1000;
    left: 0 !important;
  }
  .sticky {
    top: 0;
    padding: 0 !important;
    z-index: 10;
    width: 100%;
  }

  .footer_section {
    margin-bottom: 0px;
    flex-direction: column;
    border: 0.25 solid grey;
  }
  .footer_section > div {
    width: 100% !important;
    padding: 10px !important;
  }
  #deliveryinp {
    padding: 12px;
    width: 60%;
  }
  #NavlinkParent > div > a {
    font-size: 1.7rem;
  }
  #footer {
    margin-bottom: 10px !important;
  }
}
